<center>
    <div style="
        background: linear-gradient(90deg, #8e44ad, #3498db);
        padding: 30px 20px;
        border-radius: 25px;
        box-shadow: 0 7px 6px rgba(0, 0, 0, 0.3);
        display: inline-block;
        border: 2px solid #CCCCFF;
        max-width: 90%;
    ">
        <span style="
            color: #FFBF00;
            font-size: 25px;
            font-family: Cooper Black;
            letter-spacing: 2px;
            line-height: 1.4;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
        ">
            University of Engineering and Technology Peshawar <br> Jalozai Campus
        </span>
    </div>
</center>  </div>
</center>
  </div>
</center>

<center>
    <div style="
        background: linear-gradient(90deg, #CB0000, #618685);
        padding: 30px 20px;
        border-radius: 25px;
        box-shadow: 0 7px 6px rgba(0, 0, 0, 0.3);
        display: inline-block;
        border: 2px solid #CCCCFF;
        max-width: 90%;
    ">
        <span style="
            font-size: 30px;
            font-family: Cooper Black;
            color: #FFBF00;
            font-weight: bold;
            letter-spacing: 1px;
            text-shadow: 3px 1px 8px rgba(0, 0, 1, 0.6);
        ">
            Lab Title: EE-271 “OOP & Data Structures Lab”
        </span>
    </div>
</center>

<center>
    <div style="
        background: linear-gradient(90deg, #FEE715, #101820);
        padding: 30px 20px;
        border-radius: 25px;
        box-shadow: 0 7px 6px rgba(0, 0, 0, 0.3);
        display: inline-block;
        border: 2px solid #CCCCFF;
        max-width: 90%;
    ">
        <span style="
            font-size: 30px;
            font-family: Cooper Black;
            color: #FFBF00;
            font-weight: bold;
            letter-spacing: 1px;
            text-shadow: 3px 1px 8px rgba(0, 0, 1, 0.6);
        ">
            Lab 3: List, Tuple, and Dictionary 
        </span>
    </div>
</center>

<span style="color: #000000;
font-size: 44px;
transition: color 0.3s;">&#x21DD; </span>
<span style="color: #ff0000;
    font-family: Arial Black;
font-size: 35px; font-weight: bold; 
text-shadow: 0px 4px 2px rgb(0, 0, 0);">
    Lab Work Tasks :</span>

<span style="color:yellow; font-size:30px;">&#x2192;</span><span style="font-size:25px; font-family:timesnewroman;">List :</span>

In [9]:
integers = [3, 8, 12, 25, 45]
print(integers)

[3, 8, 12, 25, 45]

In [10]:
student_info = ["Umair Khan", 538, 3.39, [3.31, 3.39]]
print(student_info[2])

3.39

In [11]:
i = 0
while i < len(student_info):
    print(student_info[i])
    i += 1

Umair Khan
538
3.39
[3.31, 3.39]

In [12]:
semester_gpas = student_info[-1]

print(semester_gpas)

[3.31, 3.39]

In [13]:
first_20_integers = list(range(1, 21))
print(first_20_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
odd_integers = list(range(21, 40, 2))
print(odd_integers)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [15]:
students = ["Nabeel", "Shakir", "Umair", "Asad", "Abbas"]

# Checking if 'Asad' is in the list
print("Asad" in students)

# Checking if 'Ali' is not in the list
print("Ali" not in students)

True
True

In [16]:
for student in students:
    print(student)

Nabeel
Shakir
Umair
Asad
Abbas

In [17]:
print(students[0:2])
print(students[2:4])

['Nabeel', 'Shakir']
['Umair', 'Asad']

In [18]:
# Initialize a list
sample_list = [1, 2, 3]

In [19]:
# a. .append(obj)
sample_list.append(4)
print(sample_list)

[1, 2, 3, 4]

In [20]:

# b. .extend(iterable)
sample_list.extend([5, 6])
print(sample_list)

[1, 2, 3, 4, 5, 6]

In [21]:

# c.insert(index, obj)
sample_list.insert(2, 7)
print(sample_list)

[1, 2, 7, 3, 4, 5, 6]

In [22]:

# d. .remove(obj)
sample_list.remove(7)
print(sample_list)

[1, 2, 3, 4, 5, 6]

In [23]:

# e. .pop([index=-1])
sample_list.pop()
print(sample_list)

[1, 2, 3, 4, 5]

In [24]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [25]:
x[1][3]

'ff'

In [26]:

# Access "a"
print(x[0])

# Access "bb"
print(x[1][0])

# Access "ccc"
print(x[1][1][0])

# Access "ddd"
print(x[1][1][1])

# Access "ee"
print(x[1][2]) 

# Access "ff"
print(x[1][3])

# Access "g"
print(x[2])

# Access "hh"
print(x[3][0])

# Access "ii"
print(x[3][1])

# Access "j"
print(x[4])

a
bb
ccc
ddd
ee
ff
g
hh
ii
j

-----------------

<span style="color:yellow; font-size:30px;">&#x2192;</span><span style="font-size:25px; font-family:timesnewroman;">Tuple :</span>

In [27]:
letters_tuple = ('A', 'B', 'C', 'D', 'E')

In [28]:
# Access the third element
third_element = letters_tuple[2]

# Access the last element
last_element = letters_tuple[-1]

print(third_element, last_element)

C E

In [29]:
# Create a list
mutable_list = [1, 2, 3, 4]

# Modify the list
mutable_list[2] = 9
print(mutable_list)

# Add an element to the list
mutable_list.append(5)
print(mutable_list)

# Remove an element from the list
mutable_list.remove(9)
print(mutable_list)

[1, 2, 9, 4]
[1, 2, 9, 4, 5]
[1, 2, 4, 5]

In [30]:
# Create a tuple
immutable_tuple = (1, 2, 3, 4)
immutable_tuple[2] = 9

TypeError: 'tuple' object does not support item assignment

------------------

<span style="color:yellow; font-size:30px;">&#x2192;</span><span style="font-size:25px; font-family:timesnewroman;">Dictionary :</span>

In [31]:
Fd = {
    'one': 'aik',
    'three': 'teen',
    'ten': 'das',
    'fifteen': 'pandra'
}

In [32]:
print(Fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [33]:
# Access 'one'
print(Fd['one'])

# Access 'ten'
print(Fd['ten'])

aik
das

In [34]:
# Delete the key 'three'
del Fd['three']

# Print updated dictionary
print(Fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [35]:
length = len(Fd)
print(length)

3

In [36]:
keys = Fd.keys()
print(list(keys))

['one', 'ten', 'fifteen']

In [37]:
values = Fd.values()
print(list(values))

['aik', 'das', 'pandra']

In [ ]:
items = Fd.items()
print(items)

dict_items([('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')])

In [ ]:
# Check if 'one' is a key in Fd
print('one' in Fd)

# Check if 'two' is a key in Fd
print('two' in Fd)

True
False

In [ ]:
# Copy the dictionary
copy = Fd.copy()

# Alias (reference the same dictionary)
alias = Fd

# Modifying alias by adding 'three'
alias['three'] = '3'

# Print alias
print(alias)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

In [ ]:
# Print original dictionary (Fd) to observe the change
print(Fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

In [ ]:

# Modify the copy by adding 'three'
copy['three'] = '3'

# Print copy
print(copy)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

In [ ]:
# Print Fd to observe if it changed
print(Fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

In [ ]:
student_grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90
}

In [ ]:
student_grades.clear()
print(student_grades)

{}

In [ ]:
# Using .get() to fetch Bob's grade
bob_grade = student_grades.get('Bob')
print(bob_grade)

92

In [ ]:

# Using .get() with a non-existent key, returns None
unknown_grade = student_grades.get('Eve')
print(unknown_grade)

None

In [ ]:

# Using .get() with a default value for a non-existent key
unknown_grade_default = student_grades.get('Eve', 'No Record')
print(unknown_grade_default)

No Record

In [ ]:
# Before clearing the dictionary, let's recreate it
student_grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90
}

items = student_grades.items()
print(items)

dict_items([('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 90)])

In [ ]:
keys = student_grades.keys()
print(keys)

dict_keys(['Alice', 'Bob', 'Charlie', 'David'])

In [ ]:
values = student_grades.values()
print(values)

dict_values([85, 92, 78, 90])

-------------------

<span style="color:yellow; font-size:30px;">&#x2192;</span><span style="font-size:25px; font-family:timesnewroman;">List comprehension :</span>

In [ ]:
squares = []
for x in range(10):
    squares.append(x ** 2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = [x * x for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
cubes = [x ** 3 for x in range(10)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
linear_function = [2 * x + 1 for x in range(10)]
print(linear_function)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
even_squares = [x * x for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [ ]:
even_squares = []
for x in range(10):
    if x % 2 == 0:
        even_squares.append(x * x)

print(even_squares)

[0, 4, 16, 36, 64]

In [ ]:
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [ ]:
odd_squares = [x * x for x in range(1, 11) if x % 2 != 0]
print(odd_squares)

[1, 9, 25, 49, 81]

------------------------------

<span style="color:yellow; font-size:30px;">&#x2192;</span><span style="font-size:25px; font-family:timesnewroman;">Dictionary comprehension:</span>

In [ ]:
squares_dict = {x: x * x for x in range(5)}
print(squares_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
even_squares_dict = {x: x * x for x in range(10) if x % 2 == 0}
print(even_squares_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

------------------

<span style="color:yellow; font-size:30px;">&#x2192;</span><span style="font-size:25px; font-family:timesnewroman;">Encouraging :</span>

In [ ]:
items = ['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [ ]:
for item in items:
    try:
        print(len(item))
    except TypeError:
        print(f"Cannot determine length of: {item} (Type: {type(item)})")

5
Cannot determine length of: 1 (Type: <class 'int'>)
3
3